<% if @posts.count < 1 %>
	<div id="no_posts">There are no posts in the system.</div>
<% end %>
<%= render :partial => "post", :collection => @posts, :locals => { :show_replies => false } %>
<p><%= link_to "New Post", new_post_path %></p>